/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17/01/2019, 17:16:43
    Author     : Mateus
*/


.margin-top-40{
    margin-top: 40px;
}

.margin-top-20{
    margin-top: 20px;
}

.carrinho-compra{
    width: 300px;
}

.carrinho-top-total-item{
    font-weight: bold;
}

.carrinho-top-total-valor{
   font-weight: bold; 
}
